* {
	font-family: "Segoe UI", "Segoe Pro", sans-serif;
}

div {
	margin-bottom: 10px;
}

label {
	display: block;
}

button {
	margin: 10px;
	padding: 0;
}

button a {
	display: block;
	padding: 10px;
}
